.margen-top {
  margin-top: 15vh;
}

.parrafo {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 28px;
  text-align: center;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.88;

  margin-top: 2rem;
}

.titulo {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5em;
  line-height: 78px;
  text-align: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}

.card-hero{
  max-width: 800px;
}

