:root {
  --naranja: #ffaf34;
  --negro: #414141; 
  --gris: #9d9d9d;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.vh-80 {
  height: 80vh;
}
.bg-oscuro {
  background-color: var(--negro);
}
.bg-naranja {
  background-color: var(--naranja);
}
.texto-naranja {
  color: var(--naranja);
}
.texto-oscuro {
  color: var(--negro);
}
.font-bold{
  font-weight: bold;
}

body {
  margin: 5vh 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader{
  width: 100vw;
  height: 75vh;
  background-color: var(--negro);
  position: relative;
}
.loader-body{
  width:30vw;
  height: 30vh;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fondo-main {
  height: 95vh;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/img/fondo2.jpg");
  /* background-position: left; */
  background-size: cover;
}

.fondo-carousel {
  padding-bottom: 2em;
}

.hero {
  display: flex;
  flex-direction: column;
  flex: 2 1;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
}

.call_a {
  margin-bottom: 5rem;
}

.margen-top {
  margin-top: 15vh;
}

.parrafo {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 28px;
  text-align: center;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.88;

  margin-top: 2rem;
}

.titulo {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 78px;
  text-align: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}

.card-hero {
  max-width: 800px;
}

.btn_call_a {
  border: none;
  margin-top: 2rem;
}
.btn_call_a:hover {
  background-color: var(--naranja);
}

.titulo_carousel {
  padding: 1rem 0;
  /* color: var(--blue8); */
  text-align: center;
  /* background-color: var(--blue3); */
  width: auto;
  margin: auto auto 1em auto;
}

.carousel_custom {
  width: 75vw;
  margin: 2rem auto;
  /* padding: 0 11rem; */
}

.carousel_custom_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75vw;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  margin: 10px 10px;
  border-radius: 25px;
  overflow: hidden;
}
.tarjeta:hover {
  box-shadow: -1px 1px 17px 4px rgba(255, 175, 52, 1);
  -webkit-box-shadow: -1px 1px 17px 4px rgba(255, 175, 52, 1);
  -moz-box-shadow: -1px 1px 17px 4px rgba(255, 175, 52, 1);
}

.tarjeta_imagen {
  width: 100%;
  border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  transition: all 0.5s;
}
.tarjeta_imagen:hover {
  transform: scale(1.3) skew(-1deg) translate(-1px, 0px);
  -webkit-transform: scale(1.3) skew(-1deg) translate(-1px, 0px);
  -moz-transform: scale(1.3) skew(-1deg) translate(-1px, 0px);
}
.tarjeta_ciudad {
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.tarjeta_pais {
  width: 100%;
  text-align: center;
  border-radius: 0 0 25px 25px;
}

.footer_main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  border-top: 1px solid rgb(87, 86, 86);
  box-shadow: 0px 0px 71px -24px rgba(0,0,0,1) inset;
}

.footer_links {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 5px;
}
.footer_titulo {
  width: 60vw;
  color: #fff;
  text-align: center;
}
.footer_links a {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
}

.footer_iconos {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}
.footer_iconos a {
  font-size: 1.3rem;
  color: white;
}
.copyright {
  background-color: var(--negro);
  margin: 0;
  padding: 0;
}
.copyright h3 {
  font-size: 1rem;
  /* color: var(--blue5); */
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: var(--negro);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--naranja);
  border-radius: 5px;
}

@media (max-width: 660px) {
  .carousel_custom {
    flex-wrap: nowrap;
  }
  .tarjeta {
    width: 80vw;
  }
  .tarjeta:hover .tarjeta_ciudad {
    display: none;
  }
  .tarjeta_imagen {
    width: 100%;
  }
  .parrafo {
    font-size: 2rem;
  }
}
@media (min-width: 1440px) {
  .parrafo {
    font-size: 2rem;
  }
  .tarjeta:hover .tarjeta_ciudad {
    display: none;
  }
}

@media (max-width: 1400px) {
  .tarjeta:hover .tarjeta_ciudad {
    display: none;
  }
}

/* Header Cities */

.header-cities {
  width: 100%;
  height: 40vh;
  background-image: url("./assets/img/headerCities.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.header-cities-titulo {
  font-size: 3rem;
  color: var(--naranja);
  background-color: #aeaeae3f;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  text-align: center;
}

/* Card Cities */
.container-cities {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-cities {
  position: relative;
  width: 80vw;
  height: 30vh;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  transition: all 0.5s;
}
.card-cities:hover{
  width: 90vw;
  border-radius: 15px;
  box-shadow: 1px 1px 19px 6px rgba(255,175,52,0.77);
-webkit-box-shadow: 1px 1px 19px 6px rgba(255,175,52,0.77);
-moz-box-shadow: 1px 1px 19px 6px rgba(255,175,52,0.77);
}
.card-cities-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-cities-texto {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #0000006d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card-cities-texto .texto-negro {
  color: var(--naranja);
  height:3vh;
  margin-bottom: 0 !important;
}




.error-ciudades{
  width: 80vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  border-radius: 15px;
  transition: all 0.5s;
  background-color: var(--naranja);
}




/* FILTRO */

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 5vh;
  box-shadow: 0px 0px 30px 0px rgba(10, 10, 10, 0.549);
}

.select-filtro{
  background: var(--naranja);
   border: 1px solid var(--naranja);
   border-radius: 5px 5px 5px 5px;
   color: var(--negro);
   font-size: 1rem;
   margin: 5px;
   outline: 0 !important;
   width:25vw;
   max-width:150px;
}

.input-ciudades{
  background: var(--naranja);
   border: 1px solid var(--naranja);
   border-radius: 5px 5px 5px 5px;
   color: var(--negro);
   font-size: 1rem;
   padding: 5px;
   outline: 0 !important;
   text-align: center;
   width:50vw;
   padding: .5rem;
   
}

.input-ciudades::placeholder{
  color: var(--negro);
  text-align: center;
}



/* HEADER CITY */

.header-city {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size:cover !important;
}

.header-city-titulo {
  height: 2rem;
  font-size: 3rem;
  color: var(--naranja);
}
.btn-city{
  background-color: var(--naranja);
}
.contenedor-city{
  min-height: 42.5vh;
  background-color: var(--negro);
  padding-top: 5vh;
}
